a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

p {
  margin: 0.95em;
  font-family: sans-serif;
  text-align: left;

}

h2 {
  margin: 0.95em;
  font-weight: bolder;
  font-family: sans-serif;
  text-align: left;

}

body {
  text-align: center;
}

.nav__lower {
  font-family: 'Times New Roman', Times, serif;
  word-spacing: 150px;
  margin-bottom: 70px;
}

.upper__right {
  color:green;
  float: right;
  margin-bottom: 90px ;
  margin-right: 50px;
  font-family: sans-serif;
}

.footer__right{
  float: right;
  font-family: sans-serif;

}

.content {
  font-family: sans-serif;
  text-align: center;
  margin-right: 600px;
  margin-left: 600px;

}

h1 {
  font-family: sans-serif;
}

.external_links{
  text-align: left;
}

.grid{
  font-weight: bold;
  text-align: left;
  border:25px;
  font-family: 'Times New Roman', Times, serif;
  display:grid;
  grid-template-columns: auto auto;
  padding: 30px;
  font-size: smaller;
  color: black;
  margin-right: 600px;
  margin-left: 600px;

}


.upper__left{
  margin-left: 30px;
  float: left;
}


.footer__left{
  margin-left: 30px;
  float: left;
  margin-bottom: 50px;
}

.sign-in{
  color: green;
  margin-right: 50px;
}

.get-started{
  color: green;
  border-spacing: 50px;
  border-style: solid;
  border-color: green;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
